* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #ff6600;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;

  img {
    height: 1.5rem;
  }
}

.nav-left a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-center i {
  font-size: 1rem;
}

.logo-text {
  font-weight: bold;
  font-size: 0.9rem;
}

.nav-right a {
  margin-left: 12px;
  color: white;
  font-size: 0.9rem;
}

/* imgcontainer */

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 2rem;
}

.imgcontainer img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 575px;
  max-width: 575px;
}

.pcontainer {
  display: flex;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid black;
  justify-content: space-evenly;
}

.item {
  width: 400px;
  height: 80px;
  background-color: rgba(255, 0, 0, 0.593);
  /* padding: 1rem; */
  border: 10px solid red;
  border-radius: 10px;
}
